:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.samsung {
  white-space: nowrap;
  font-size: 2.2em;
  line-height: 2;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #242424;
}

.option-instruct {
  white-space: nowrap;
  font-size: 1.7em;
  line-height: 1.7;
  text-align : center;
  margin-top: 20px;
  margin-bottom: 25px;
}

main{
  max-width: 700px;
  margin: auto;
}

.main-description {
  text-align : justify;
  min-width: 600px;
}

p {
  color : #242424;
  background-color : #cefbf2;
  max-width: 60%;
  padding: 15px;
  border-radius: 20px;
}

p span{
  margin: 5px;
}

.question_logo {
  width: 100px;
  height: 100px;
  margin-right: 20px; 
}

.selects {
  display: flex;
  flex-direction: column;
}

.select {
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.userMessage{
  text-align: right;
  margin-left: 30%;
  display: flex;
  flex-direction: row-reverse;
}

.user_time {
  visibility: hidden;
  display: none;
}

form{
  text-align: center;
  position: sticky;
  bottom: 0;
}

input{
  width: 100%;
  height: 30px;
  border: none;
  padding: 10px;
  font-size: 1.0rem;
  border-radius: 10px;
}

input:focus{
  outline: none;
}